@import url("https://fonts.googleapis.com/css2?family=Alata&family=Noto+Sans+JP:wght@300;500&display=swap");
$main: rgb(226, 0, 0);

body {
  margin: 0;
  padding: 0;
  font-family: "Alata", "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #ececec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*:focus {
  outline: none;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: black;

  /* 以下のコードを追加 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  .half-circle-spinner,
  .half-circle-spinner * {
    box-sizing: border-box;
  }

  .half-circle-spinner {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: relative;
  }

  .half-circle-spinner .circle {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: calc(60px / 10) solid transparent;
  }

  .half-circle-spinner .circle.circle-1 {
    border-top-color: $main;
    animation: half-circle-spinner-animation 1s infinite;
  }

  .half-circle-spinner .circle.circle-2 {
    border-bottom-color: $main;
    animation: half-circle-spinner-animation 1s infinite alternate;
  }

  @keyframes half-circle-spinner-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
  display: none;
}

nav {
  background-color: white;
  position: fixed;
  width: 70px;
  height: 100vh;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 30px;
  z-index: 1000;
  left: 0;
  color: $main;
  p {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 30px;
    left: 50%;
    a {
      text-decoration: none;
      color: $main;
    }
  }
  .lineContainer {
    position: relative;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .line {
      height: 30px;
      width: 10px;
      margin: 0;
      padding: 0;

      position: relative;
      span {
        position: absolute;
        left: 0;
        width: 3px;
        height: 30px;
        border-radius: 10px;
        background-color: $main;
        display: inline-block;
        transition: all 0.5s;
        box-sizing: border-box;
        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(2) {
          left: 10px;
        }
      }
    }
  }

  .cross {
    span {
      &:nth-of-type(1) {
        -webkit-transform: translateY(14px) rotate(-45deg);
        transform: translateX(10px) rotate(-45deg);
      }
      &:nth-of-type(2) {
        -webkit-transform: translateY(-14px) rotate(45deg);
        transform: translateX(0px) rotate(45deg);
      }
    }
  }
}
.menuModal {
  background-color: white;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 70px;
  z-index: 1001;
}
.open {
  animation: open-a 0.2s ease;
  animation-fill-mode: forwards;
}
.close {
  animation: close 0.2s ease;
  animation-fill-mode: forwards;
  display: block;
}
@keyframes open-a {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes close {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.root {
  padding: 30px 0;
  padding-left: 70px;
  width: 80%;
  column-count: 3;
  column-gap: 0;
  background-color: pink;
  margin: 0 auto;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.worksCard {
  background-color: white;
  cursor: pointer;
  height: auto;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  img {
    width: 100%;
    object-fit: contain;
    box-sizing: border-box;
  }
  p {
    text-align: center;
    font-size: 12px;
    color: rgb(148, 148, 148);
    padding: 20px;
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  .paper {
    border: 10px solid white;
    background-color: white;
    font-size: 13px;
    text-align: center;
    max-height: 90vh;
    width: 90%;
    max-width: 700px;
    overflow-y: scroll;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
    }
    div {
      width: 80%;
      margin: 0 auto;
      .title {
        font-weight: bold;
      }
      .date {
        font-family: "Alata";
      }
      .category {
        span {
          background-color: black;
          color: white;
          padding: 0 10px;
          margin: 10px 10px;
        }
      }
      .text {
        margin: 30px 0;
        text-align: left;
      }
    }
  }
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: relative;
  padding: 10px 0;
  a {
    color: black;
    li {
      list-style: none;
      color: $main;
      padding: 10px;
    }
  }
  footer {
    display: block;
    position: absolute;
    bottom: 3px;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    .topCard {
      width: 200px;
      height: 100px;

      &:before {
        top: 10px;
      }
      p {
        font-size: 40px;
      }
    }
  }
  .root {
    column-count: 2;
  }
}
